@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 0 20px;

}
/*Utility Classes*/
.primary-text {
    color: burlywood;
}
.btn {
    display: inline-block;
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
}

.btn-primary {
    color: #000000;
    border: 1px solid #000000;
    margin-right: 20px;
    margin-top: 20px;

}


.btn-primary:hover {
    background: rgba(222, 184, 135, 0.5);
}

/* Navbar Start*/

#navbar {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    z-index: 100;
    width: 100%;
    display: flex;
}

#navbar h2 {
  font-size: 24px;
  font-weight: 500;
  color: #383848;
  padding-left: 20px;
}

#navbar ul {
    display: flex;
    margin-right: 20px;
}

#navbar ul a {
    padding: 15px 10px;
    color: #383848;
    font-weight: 500;
}

#navbar ul a:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}
/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    position: relative;
    z-index: 1;
    padding-top: 50px;
    padding-left: 50px;
}

header::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/background.jpg) no-repeat center center/cover;
    filter: blur(3px) brightness(0.7);
    z-index: -1;
    opacity: 0.7;


}

header .content img {
    position: relative;
    margin-bottom: 20px;
    max-width: 250px;
    filter: blur(0px);
    margin-right: 20px;
}

header .content {
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  padding: 40px;
  border-radius: 10px;
  z-index: 10;
  margin-top: 20px;
  text-align: left;
}


header h2 {
  color: #9a9a9a;
  font-size: 36px;
  margin-top: 10px;
  z-index: 10;
  text-align: left;
}

header p {
  color: #000;
  font-size: 18px;
  margin-top: 10px;
  z-index: 10;
  text-align: left;
}
header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}


/* Header End */

/* About Start */
#about {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;

}

#about .title,
#offers .title {
    text-align: center;
    margin-bottom: 2rem;
}

#about h2 ,
#offers h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
#about h2 {
    color: #383848;
}

#about .title p {
    font-size: 20px;
    color: #9a9a9a;
    font-weight: 600;
}
 #about .about-content {
    display: flex;
    justify-content: space-between;
 }

 #about .about-content img {
    width: 450px;
 }
 #about .about-content p {
    color: #9a9a9a;
    margin-right: 2rem;
    font-weight: 100;
    line-height: 1.6;
 }
/* About End */

/* Offers Start */
#offers {
    height: 70vh;
    display: flex;
    justify-content: center;
}

#offers h2 {
    color: rgb(0, 0, 0);
    padding: 0rem;
}


#offers .title p {
    color: #fff;
    font-weight: 500;
}

#offers .offers-items {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
}

#offers .offers-items img {
    width: 200px;
}

#offers .offers-items h3 {
    font-size: 25px;
    margin: 15px 0;
}

#offers .offers-items p {
    font-size: 14px;
    padding: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

#offers .offers-items p span {
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
}
/* Offers End */


/* Contact Start */

.footer-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    bottom: 0;
    width: 100%;
}

#contact {
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0;
} 

#contact .contact-info {
    display: flex;
    text-align: center;
    background: #9a9a9a;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    color: #fff;
}

#contact .contact-info a {
    color: #fff;
    padding: 0 0px;
}

/* Scroll Up */
   .scroll-up {
    scroll-behavior: smooth;
    z-index: 100;
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 18px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 12px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }

/* Responsiveness */
/* Medium Screen + Tablet */
@media (max-width: 1024px) {
    
    /* Navbar */
    #navbar {
        padding: 10px 30px;
    }
    #navbar h2 {
        font-size: 24px;
    }
    #navbar ul {
        gap: 10px;
    }
    #navbar ul a {
        font-size: 16px;
        padding: 10px 15px;
    }

    /* Header */
    header {
        padding: 60px 40px;
        align-items: center;
        text-align: center;
    }
    header h2 {
        font-size: 32px;
        color: #9a9a9a;
    }
    header p {
        font-size: 16px;
        line-height: 1.5;
        color: #000;
    }

    /* About */
    #about {
        flex-direction: column;
        padding: 40px 20px;
        text-align: center;
    }
    #about h2 {
        font-size: 36px;
    }
    #about .about-content {
        flex-direction: column;
        text-align: center;
    }
    #about .about-content img {
        width: 100%;
        max-width: 350px;
        margin-bottom: 20px;
    }
    #about .about-content p {
        font-size: 16px;
        line-height: 1.6;
    }

    /* Offers */
    #offers {
        padding: 40px 20px;
    } 
    #offers h2 {
        font-size: 36px;
    }
    #offers .offers-items {
        flex-direction: column;
        align-items: center;
    }
    #offers .offers-items img {
        width: 150px;
    }
    #offers .offers-items h3 {
        font-size: 24px;
        margin-top: 15px;
    }
    #offers .offers-items p {
        font-size: 16px;
        line-height: 1.6;
    }

    /* Contact */
    #contact {
        padding: 0;
        margin-top: auto;
    }
    #contact .contact-info {
        width: 100%;
        z-index: 1000;
        font-size: 14px;
        padding: 10px 0px;
        position: fixed;
        background-color: #9a9a9a;
        background: rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
    html, body {
        height: 100%;
        scroll-behavior: smooth;
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .content-wrapper {
        flex: 1;
    }
    #footer {
        display: none;
    }
}
@media only screen and (max-width: 528px) and (min-width: 390px) {

     /* Navbar */   
    #navbar {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    #navbar h2 {
        padding: 2.5px;
        font-weight: bold;
        font-size: 26px;
        color: #000;
    }
    #navbar ul {
        display: none;
    }
    #navbar ul a {
        display: none;
    }

    /* Header */    
    header {
        padding: 30px 20px;
    }
    header h2 {
        font-size: 20px;
        color: #000;
    }
    header p { 
        font-weight: 500;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 1.5;
        color: #000;
    }

    header .content {
        position: relative;
        margin-top: 50px;
    }
    header .content img {
        position: relative;
        max-width: 150px;
    }
    /* About */
    #about {
        margin-top: 100px;
    }
   #contact {
       position: relative;
       min-height: calc(100vh);
       margin-top: 100px;
   }
   #contact .contact-info {
       position: absolute;
       bottom: 0;
       left: 0;
       text-align: left;
       justify-content: left;
       align-items: left;
       font-size: 12px;
       display: flex;
       background: #9a9a9a;
       padding-top: 40px ;
       color: #fff;
    }
    #contact .contact-info p {
       padding-left: 18px;
       text-align: left;
       font-weight: bold;
       justify-content: left;
       align-items: left;
       position: absolute;
    }
}        

